<h1>Sign Up</h1>

<%= form_for(@user) do |f| %>

    <%= render 'shared/error_messages' %>

    <div class="field">
      <%= f.label :user_name %><br/>
      <%= f.text_field :user_name %>
    </div>
    <div class="field">
      <%= f.label :first_name %><br/>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %><br/>
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :email %><br/>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :pass_phrase %><br/>
      <%= f.password_field :pass_phrase %>
    </div>
    <div class="field">
      <%= f.label :pass_phrase_confirmation %><br/>
      <%= f.password_field :pass_phrase_confirmation %>
    </div>
    <div class="actions">
      <%= f.submit "Sign Up" %>
    </div>
<% end %>