<%= form_for(@sub_category) do |f| %>
  <% if @sub_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_category.errors.count, "error") %> prohibited this sub_category from being saved:</h2>

      <ul>
      <% @sub_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :categor_id %><br />
    <%= f.number_field :categor_id %>
  </div>
  <div class="field">
    <%= f.label :sub_category_name %><br />
    <%= f.text_field :sub_category_name %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.number_field :active %>
  </div>
  <div class="field">
    <%= f.label :effective_date %><br />
    <%= f.date_select :effective_date %>
  </div>
  <div class="field">
    <%= f.label :last_effective_date %><br />
    <%= f.date_select :last_effective_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
